.subtotal{
    z-index: 1;
    height: 130px;
    width: 20%;
    background-color: rgb(226, 226, 226);
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 70px;
    position: fixed;
    top: 1%;
    right: 0%;
    padding: 20px;
    border: 0.2px solid grey;
}

.subtotal > button{
    width: 100%;
    margin-top: 10px;
    background-image: linear-gradient(to right, #f0c14b, #f2d488, #edb425);
    border: 1px solid black;
    padding: 5px 0px;
    border-color: #a88734 #9c7e31 #846a29;
}

.subtotal > button:hover{
    transform:scale(1.025,1.025);
    -webkit-transform:scale(1.025,1.025);
    -moz-transform:scale(1.025,1.025);
    box-shadow: 0 4px 15px 0 rgba(241, 253, 1, 0.75);
}

.subtotal_checkbox{
    display: flex;
    gap: 5px;
    align-items: center;
}


@media (max-width: 768px) {
    .subtotal{
        height: 150px;
        width: 25%;
    }
}

@media (max-width: 576px) {
    .subtotal{
        position: relative;
        width: 100%;
    }
}


@media (max-width: 576px) {
    .subtotal{
        width: 85vw;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .subtotal{
        width: 83vw;
        margin-top: 30px;
    }
}

@media (max-width: 400px) {
    .subtotal{
        width: 80vw;
        margin-top: 30px;
    }
}